<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Sobre Nós</title>
</head>
<body>
    <h1>{{ Selva2 }}</h1>
    <div class="card">
    <p>Os gatos são animais de estimação amados em todo o mundo, conhecidos por sua elegância, independência e personalidade única. Cada felino tem seu charme próprio, seja na maneira como explora o ambiente ou nos momentos de carinho inesperados. Além de serem excelentes companheiros, gatos são também criaturas curiosas e inteligentes, capazes de se adaptar a diversos estilos de vida. Se você busca um pet que combine afeto e autonomia, um gato pode ser o amigo ideal.</p>
    <p>Esperamos que você aproveite e se divirta ao mesmo tempo!</p>
    </div>
    <a href="/">Voltar à Página Inicial</a>
</body>
</html>
